<a href="https://colab.research.google.com/github/jweir136/AirQuality/blob/master/AirQuality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

data = pd.read_csv("AirQualityUCI.csv", sep=';').drop(['Unnamed: 15', 'Unnamed: 16', 'Date', 'Time'], axis=1)

In [2]:
data.shape

(9471, 13)

In [3]:
data.head()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578"
1,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255"
2,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502"
3,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867"
4,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888"

In [0]:
new_data = []

for a in data.values:
  temp = []
  for b in a:
    c = str(b).replace(',', '.')
    temp.append(float(c))
  new_data.append(temp)

In [0]:
data = pd.DataFrame(new_data, columns=data.keys())

In [6]:
data.head()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 13 columns):
CO(GT)           9357 non-null float64
PT08.S1(CO)      9357 non-null float64
NMHC(GT)         9357 non-null float64
C6H6(GT)         9357 non-null float64
PT08.S2(NMHC)    9357 non-null float64
NOx(GT)          9357 non-null float64
PT08.S3(NOx)     9357 non-null float64
NO2(GT)          9357 non-null float64
PT08.S4(NO2)     9357 non-null float64
PT08.S5(O3)      9357 non-null float64
T                9357 non-null float64
RH               9357 non-null float64
AH               9357 non-null float64
dtypes: float64(13)
memory usage: 962.0 KB

In [8]:
data.describe()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
count,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000
mean,-34.207524,1048.990061,-159.090093,1.865683,894.595276,168.616971,794.990168,58.148873,1391.479641,975.072032,9.778305,39.485380,-6.837604
std,77.657170,329.832710,139.789093,41.380206,342.333252,257.433866,321.993552,126.940455,467.210125,456.938184,43.203623,51.216145,38.976670
min,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000
25%,0.600000,921.000000,-200.000000,4.000000,711.000000,50.000000,637.000000,53.000000,1185.000000,700.000000,10.900000,34.100000,0.692300
50%,1.500000,1053.000000,-200.000000,7.900000,895.000000,141.000000,794.000000,96.000000,1446.000000,942.000000,17.200000,48.600000,0.976800
75%,2.600000,1221.000000,-200.000000,13.600000,1105.000000,284.000000,960.000000,133.000000,1662.000000,1255.000000,24.100000,61.900000,1.296200
max,11.900000,2040.000000,1189.000000,63.700000,2214.000000,1479.000000,2683.000000,340.000000,2775.000000,2523.000000,44.600000,88.700000,2.231000

In [9]:
data.isnull().any()

CO(GT)           True
PT08.S1(CO)      True
NMHC(GT)         True
C6H6(GT)         True
PT08.S2(NMHC)    True
NOx(GT)          True
PT08.S3(NOx)     True
NO2(GT)          True
PT08.S4(NO2)     True
PT08.S5(O3)      True
T                True
RH               True
AH               True
dtype: bool

In [10]:
data.isnull().sum()

CO(GT)           114
PT08.S1(CO)      114
NMHC(GT)         114
C6H6(GT)         114
PT08.S2(NMHC)    114
NOx(GT)          114
PT08.S3(NOx)     114
NO2(GT)          114
PT08.S4(NO2)     114
PT08.S5(O3)      114
T                114
RH               114
AH               114
dtype: int64

In [11]:
data.tail()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
9466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
data.dropna(inplace=True)

In [13]:
data.shape

(9357, 13)

In [14]:
data.corr()['AH']

CO(GT)          -0.045892
PT08.S1(CO)      0.764903
NMHC(GT)         0.012500
C6H6(GT)         0.984555
PT08.S2(NMHC)    0.646572
NOx(GT)         -0.095847
PT08.S3(NOx)     0.621618
NO2(GT)         -0.060440
PT08.S4(NO2)     0.691913
PT08.S5(O3)      0.519467
T                0.981001
RH               0.943995
AH               1.000000
Name: AH, dtype: float64

In [0]:
#highly corrlated vars = C6H6(GT), T, and RH

In [0]:
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [0]:
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, KFold

In [0]:
from sklearn.pipeline import Pipeline

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures, StandardScaler

In [20]:
data.isnull().any()

CO(GT)           False
PT08.S1(CO)      False
NMHC(GT)         False
C6H6(GT)         False
PT08.S2(NMHC)    False
NOx(GT)          False
PT08.S3(NOx)     False
NO2(GT)          False
PT08.S4(NO2)     False
PT08.S5(O3)      False
T                False
RH               False
AH               False
dtype: bool

In [21]:
data.isnull().sum()

CO(GT)           0
PT08.S1(CO)      0
NMHC(GT)         0
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
dtype: int64

In [0]:
from sklearn.impute import SimpleImputer

In [23]:
print(data.isnull().sum() / data.shape[0])

CO(GT)           0.0
PT08.S1(CO)      0.0
NMHC(GT)         0.0
C6H6(GT)         0.0
PT08.S2(NMHC)    0.0
NOx(GT)          0.0
PT08.S3(NOx)     0.0
NO2(GT)          0.0
PT08.S4(NO2)     0.0
PT08.S5(O3)      0.0
T                0.0
RH               0.0
AH               0.0
dtype: float64

In [0]:
data.drop(['NMHC(GT)'], axis=1, inplace=True)

In [25]:
data.isnull().sum()

CO(GT)           0
PT08.S1(CO)      0
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
dtype: int64

In [0]:
#we will use the simple imputer with the stategy set to median.

In [0]:
X = data.drop(['AH'], axis=1).values
Y = data['AH'].values

trainX, testX, trainY, testY = train_test_split(X, Y, test_size=.2)

In [0]:
pipe = Pipeline([
    ("impute", SimpleImputer(strategy='median')),
    ("scaler", StandardScaler()),
    ("poly", PolynomialFeatures(degree=1)),
    ("lr", LinearRegression())
])

In [29]:
params = {
    "poly__degree":[1,2,3,4,5]
}

grid = GridSearchCV(pipe, params, cv=5, scoring='neg_mean_squared_error', verbose=3)
grid.fit(trainX, trainY)

Fitting 5 folds for each of 5 candidates, totalling 25 fits
[CV] poly__degree=1 ..................................................
[CV] ........ poly__degree=1, score=-0.9537440900771482, total=   0.0s
[CV] poly__degree=1 ..................................................
[CV] ........ poly__degree=1, score=-1.0388788173993555, total=   0.0s
[CV] poly__degree=1 ..................................................
[CV] ......... poly__degree=1, score=-1.312391375819821, total=   0.0s
[CV] poly__degree=1 ..................................................
[CV] ........ poly__degree=1, score=-1.0149343674677307, total=   0.0s
[CV] poly__degree=1 ..................................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.1s remaining:    0.0s

[CV] ........ poly__degree=1, score=-0.9209811753394164, total=   0.0s
[CV] poly__degree=2 ..................................................
[CV] ..... poly__degree=2, score=-0.0008550908818815424, total=   0.1s
[CV] poly__degree=2 ..................................................
[CV] ..... poly__degree=2, score=-0.0009006612840330361, total=   0.1s
[CV] poly__degree=2 ..................................................
[CV] ..... poly__degree=2, score=-0.0012072210636043413, total=   0.1s
[CV] poly__degree=2 ..................................................
[CV] ..... poly__degree=2, score=-0.0008280936628301008, total=   0.1s
[CV] poly__degree=2 ..................................................
[CV] ..... poly__degree=2, score=-0.0008965118110482266, total=   0.1s
[CV] poly__degree=3 ..................................................
[CV] .... poly__degree=3, score=-2.0741496889983247e-05, total=   0.4s
[CV] poly__degree=3 ..................................................
[CV] ..... poly__degree=3, score=-2.389214892984671e-05, total=   0.4s
[CV] poly__degree=3 ..................................................
[CV] ..... poly__degree=3, score=-2.907233772791408e-05, total=   0.3s
[CV] poly__degree=3 ..................................................
[CV] ..... poly__degree=3, score=-3.751129275273856e-05, total=   0.3s
[CV] poly__degree=3 ..................................................
[CV] ..... poly__degree=3, score=-2.454353631414729e-05, total=   0.3s
[CV] poly__degree=4 ..................................................
[CV] ..... poly__degree=4, score=-0.0001019024727194383, total=   3.1s
[CV] poly__degree=4 ..................................................
[CV] .... poly__degree=4, score=-1.1494475923041738e-05, total=   3.0s
[CV] poly__degree=4 ..................................................
[CV] ..... poly__degree=4, score=-0.0009648415406930439, total=   3.0s
[CV] poly__degree=4 ..................................................
[CV] .... poly__degree=4, score=-0.00015935804549527447, total=   3.0s
[CV] poly__degree=4 ..................................................
[CV] ..... poly__degree=4, score=-7.806093544189294e-06, total=   3.0s
[CV] poly__degree=5 ..................................................
[CV] ........ poly__degree=5, score=-13.163651582981153, total= 1.3min
[CV] poly__degree=5 ..................................................
[CV] ........ poly__degree=5, score=-0.1628233664590438, total= 1.3min
[CV] poly__degree=5 ..................................................
[CV] ........ poly__degree=5, score=-11.922157348558661, total= 1.2min
[CV] poly__degree=5 ..................................................
[CV] ........ poly__degree=5, score=-140.56040728891656, total= 1.2min
[CV] poly__degree=5 ..................................................
[CV] ........ poly__degree=5, score=-0.2972416127418942, total= 1.3min

[Parallel(n_jobs=1)]: Done  25 out of  25 | elapsed:  6.6min finished

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=Pipeline(memory=None,
     steps=[('impute', SimpleImputer(copy=True, fill_value=None, missing_values=nan,
       strategy='median', verbose=0)), ('scaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('poly', PolynomialFeatures(degree=1, include_bias=True, interaction_only=False)), ('lr', LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False))]),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'poly__degree': [1, 2, 3, 4, 5]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_squared_error', verbose=3)

In [30]:
grid.best_params_

{'poly__degree': 3}

In [33]:
np.sqrt(-grid.best_score_)

0.005210773697151506